div {
    border: 1px solid black; 
    padding: 10px; 
    margin-bottom: 10px; 
    transition: transform 0.3s ease-in-out; /* Smooth transition effect */
    
}

h1 {
    background-color: orange; 
}

div:hover {
    transform: scale(1.02); /* Increase the size by 10% */
}
