/* Estilos Generales */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.top {
  margin-top: 50px;
}

.mtop {
  margin-top: 25px;
}

.heading {
  text-align: center;
  position: relative;
  margin-bottom: 60px;
}

.heading h1 {
  font-size: 24px;
  font-weight: 400;
}

.heading button {
  padding: 10px 40px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
}

.heading .lines {
  position: relative;
  width: 100%;
}

.heading .line, .heading .line2 {
  border: 1px solid #e3e3e3;
  height: 3px;
  position: absolute;
  top: 43px;
}

.heading .line {
  width: 45%;
  left: 0;
}

.heading .line2 {
  right: 0;
  width: 45%;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 15px;
}

.latest .scontainer {
  padding: 20px;
  text-align: center;
}

.latest .box {
  background: #f9f9f9;
  padding: 20px;
  border: 1px solid #e3e3e3;
  border-radius: 10px;
  transition: 0.5s;
}

.latest .box:hover {
  border: 1px solid #f87331;
}

.latest .img label, .latest .img i {
  width: 40px;
  height: 40px;
  line-height: 40px;
}

.latest .detalis h2, .latest .detalis h2 span, .latest .detalis button {
  font-size: smaller;
}

/* Slider Container */
.slide {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.slide-content {
  flex: 1;
  padding-right: 20px; /* Asegúrate de tener algo de espacio entre el texto y la imagen */
}

.slide-content-img {
  flex: 1;
  text-align: right; /* Alinea la imagen a la derecha */
}

/* Estilos para la imagen dentro del contenedor de la imagen */
.slide-content-img img {
  max-width: 100%;
  height: auto;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  cursor: pointer;
  font-size: 24px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 50%;
}

.arrow.left {
  left: 12px;
}

.arrow.right {
  right: 12px;
}

/* Botones de navegación */
.back-to-index {
  display: block;
  margin: 10px 0;
}

.back-button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

/* Responsive grid layout */
@media only screen and (min-width: 481px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
  }

  .heading {
    margin-bottom: 120px;
  }

  .heading h1 {
    font-size: 40px;
  }

  .heading button {
    padding: 15px 80px;
    top: 0;
    left: 42%;
    transform: translateX(-50%);
    font-size: 15px;
  }

  .latest .box {
    padding: 30px;
  }

  .latest .img label, .latest .img i {
    width: 50px;
    height: 50px;
    line-height: 50px;
  }
}

@media only screen and (max-width: 480px) {
  .slide-content {
    padding: 10px;
  }

  .slide img {
    width: 100%;
  }

  .heading h1 {
    font-size: 20px;
  }

  .heading button {
    padding: 8px 16px;
    font-size: 12px;
  }
}
