.container_info {
    margin-left: 100px;
    margin-top: 20px;
    margin-right: 80px;
    margin-bottom: 70px;
    overflow: hidden;
    /* Añadido para contener el float y evitar colapsos de contenedor */
}

.nuestraMision {
    justify-content: center;
    float: left;
    width: 60%;
    /* Establecido el ancho para dejar espacio a la imagen */
    padding-right: 20px;
    /* Espaciado entre el texto y la imagen */
}

.nuestraMision h1 {
    text-align: center;
    /* Centra el h1 */
}

.nuestraMision p {
    margin-top: 10px;
    /* Añadido espacio entre el h1 y el párrafo */
    background-color: #1EABFF;
    border-radius: 5px;
    padding: 10px;
    /* Añadido espaciado interno */
    box-shadow: 0px 0px 10px rgba(30, 171, 255, 0.5);
    /* Efecto de sombreado */
}

.imagen_info {
    float: right;
    width: 40%;
    /* Establecido el ancho para la imagen */
    margin-top: 10px;
    /* Añadido espacio entre el párrafo y la imagen */
}

/* Limpiar los flotadores para evitar problemas de diseño */
.container_info::after {
    content: "";
    display: table;
    clear: both;
}



/*UVII*/
.container_info2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 100px 20px 80px;
    padding: 20px;
}

.container_info2 h1 {
    font-size: 50px;
    margin-right: 20px;
}

.container_info2 iframe {
    width: 60%;
    height: 450px;
    border: 0;
}

/* Estilos adicionales para mejorar la apariencia del contenedor */
.container_info2::before,
.container_info2::after {
    content: '';
    display: table;
}

.container_info2::after {
    clear: both;
}


.todo_el_info {
    background-color: #1EABFF;
    padding: 20px;
    border-radius: 5px;
}