.mainDiv {
    display: grid;
    grid-template-columns: 1fr; /* Una columna por defecto */
    grid-template-rows: auto 1fr auto; /* La primera fila y la última fila ajustan su altura automáticamente, mientras que la fila central ocupa el espacio restante */
}

.catalogoGrande {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas */
}

.catalogoGrande div {
    border-radius: 5px;
    margin: 10px;
    background-color: #f87331;
    padding: 20px;
    padding-top: 150px;
    height: auto;
    cursor: pointer;
}

.Servicios,
.tuRuta {
    display: grid;
    grid-template-columns: 1fr; /* Una columna */
    gap: 10px; /* Espacio entre los elementos */
}

.Mainperfil {
    border-radius: 5px;
    background-color: rgb(232, 232, 232);
    margin-top: 215px;
}

.iconoDelNombre i {
    font-size: 100px;
    margin: 10px;
}

.nombreEtc {
    display: grid;
    grid-template-columns: 35% 65%;
}

.resto div {
    border-radius: 5px;
    padding: 5px;
    background-color: lightskyblue;
    cursor: pointer;
}

.baraAbajo {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Cuatro columnas */
    border-top: 2px solid #000;
    padding: 10px 0; /* Espacio en la parte superior e inferior */
    align-items: center; /* Centra los elementos verticalmente */
    color: black;
}

.baraAbajo a {
    display: flex; /* Utiliza flexbox para alinear los logos dentro de cada div */
    justify-content: center; /* Centra horizontalmente el contenido de cada div */
    align-items: center; /* Centra verticalmente el contenido de cada div */
    
    text-decoration: none;
}

