body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.Mainperfil {
    max-width: 800px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

h1, h2 {
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f8f8f8;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #e8e8e8;
}

.baraAbajo {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    background: #333;
    color: white;
}

.baraAbajo a {
    color: white;
    text-decoration: none;
    text-align: center;
}

.baraAbajo a:hover {
    color: #ddd;
}

.baraAbajo i {
    font-size: 24px;
    margin: 0 10px;
}

/* Si estás utilizando FontAwesome, esto asegura que los íconos sean del mismo tamaño que el texto */
.fa-solid, .fa-regular {
    font-size: inherit;
    vertical-align: middle;
}
.back-to-index {
    display: block; /* Asegura que el botón esté en su propia línea */
    margin: 10px 0; /* Espaciado arriba y abajo del botón */
  }
  
  .back-button {
    padding: 10px 20px; /* Espaciado interno del botón */
    background-color: #4CAF50; /* Color de fondo del botón */
    color: white; /* Color del texto del botón */
    border: none; /* Sin borde para el botón */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cursor en forma de mano al pasar sobre el botón */
    font-size: 16px; /* Tamaño del texto */
  }