body{
    background-image: url(/Talde5_holanda/public/Argazkiak/login.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.8); /* Blue with 50% opacity */
}
th {
    background-color: orange;
}
 td:hover {
    transform: scale(1.02); /* Increase the size by 10% */
    background-color: lightgrey;
}
h1{
    background-color: orange;
}